<%- include('../partials/head') %>

    <h1>My Index</h1>
   
        
           <% cars.forEach((car)=>{ %>
             
               
                   
                   <div class="card" style="width: 18rem;">
                       <img src="<%= car.img %>" class="card-img-top" alt="...">
                       <div class="card-body">
                         <h5 class="card-title"><%= car.make %></h5>
                         <p class="card-text"><%= car.description %></p>
                         <a href="/users/<%= user._id %>/cars/<%= car._id %>" class="btn btn-primary">Show</a>
                       </div>
                     </div>


               
               

          <%  }) %>
        
    



<%- include('../partials/footer') %>