<%- include('../partials/head') %>

    <h1>Public</h1>
   
   <div class="index">     
           <% cars.forEach((car)=>{ %>
             
               
                   
                   <div class="card" style="width: 18rem;" id="my-list">
                       <img src="<%= car.img %>" class="card-img" alt="...">
                       <div class="card-body">
                         <h5 class="card-title"><%= car.make %> <%= car.model %></h5>
                         
                         <a href="/users/<%= user._id %>/cars/<%= car._id %>" class="btn btn-info">Show</a>
                       </div>
                     </div>


               
               

          <%  }) %>

          
        </div>

        
<form action="">

  <label for="">Minimum price: </label>
  <input type="number" name="minPr">
  <label for="">Maximum price: </label>
  <input type="number" name="maxPr">

  <label for="">Make: </label>
  <input type="number" name="make1">

  <label for="">Model: </label>
  <input type="number" name="model1">

  <label for="">Year: </label>
  <input type="number" name="year1">

  <label for="">Engine: </label>
  <input type="number" name="engine1">


</form>




<%- include('../partials/footer') %>